//@import "bourbon/bourbon"

body
	font-family: 'Ubuntu', sans-serif
	font-size: 16px
	min-width: 320px
.logo
	margin-top: 15px
	.logo_wrap
		display: flex
		align-items: center
		.logo_img
			background-color: #fff
			width: 50px
			height: 50px
			margin-right: 8px
			display: flex
			align-items: center
			img
				width: 100%
			a
				text-decoration: none
				outline: none
				width: 100%
		.logo_name
			font-weight: 500
			font-size: 26px
			letter-spacing: 1px
			.logo_next
				display: block
				color: #afafaf
				text-transform: uppercase
				font-size: 10px
				letter-spacing: 4px
				line-height: 5px
				font-weight: 400
	.social_wrap
		text-align: right
		margin-top: 5px
		a
			text-decoration: none
			outline: none
			margin-right: 15px
			vertical-align: middle
			i
				color: #cccccc
				transition: .5s all
				font-size: 20px
				&:hover
					color: #248cec
.menu
	margin-top: 30px
	font-family: 'Ubuntu', sans-serif
	font-weight: 400
	.nav
		padding: 0
	.menu_wrap
		background-color: #2a2d32
		color: #fff
		box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.6)
		-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.6)
		-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.6)
		ul
			margin: 0
			padding: 0
			list-style-type: none
			overflow: hidden
			li
				display: inline-block !important
				border-right: 2px solid #434549
				cursor: pointer
				padding: 18px 0px
				a
					color: #fff
					padding: 18px 35px
					text-transform: uppercase
					font-weight: 400
					font-size: 13px
					outline: none
					transition: .5s all
					&:hover
						color: #f4b60d
			.dropdown
				&:hover
					.dropdown-content
						display: block
				.dropdown-content
					display: none
					position: absolute
					background-color: #f9f9f9
					min-width: 130px
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
					z-index: 1
					li
						display: block !important
						a
							color: #000
							padding: 12px 16px
							text-decoration: none
							
		.active
			background-color: #248cec
			transition: .5s all
			color: #fff
	.search
		text-align: right
		padding: 0
		.search_wrap
			display: inline-block
			a
				text-decoration: none
				outline: none
				//padding: 18px 35px
			i
				color: #fff
				font-size: 18px
				padding: 18px 35px
				border-left: 2px solid #434549
				
.carousel
	background-image: url("../img/bg_slider.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 0
	box-shadow: 0 0 0 880px rgba(214, 214, 214, .60) inset
	background-color: #fff
	max-height: 370px
	margin-top: 100px
	color: #000
	.bxslider
		title
			background-color: #fff
	.bx-wrapper
		border: none
		margin-top: -50px
		margin-bottom: 50px
		max-height: 462px
		box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.48)
		.bx-viewport
			//min-height: 462px
		.bx-pager
			bottom: 15px
			.bx-default-pager 
				a
					border-radius: 0px !important
					width: 15px
					height: 15px
					background-color: #fff
					padding: 3px
.main_feature
	margin-top: 30px
	.number
		font-size: 64px
		color: #e9e9ea
		font-weight: 500
	.main_icon
		width: 32px
		height: 32px
		margin-bottom: 5px
		margin-top: 25px
		background-repeat: no-repeat
	.icon1
		background-image: url("../img/intsr.png")
	.icon2
		background-image: url("../img/lines.png")

	.icon3
		background-image: url("../img/car.png")
	h3
		margin: 5px 0
		font-size: 18px
	p
		color: #8a8a8a
	a
		color: #000
		outline: none
		text-decoration: none
		transition: .4s all
		font-weight: 500
		&:hover
			color: #248cec
			i
				&:hover
				color: #8a8a8a
		i
			color: #248cec
			margin-left: 7px
			font-size: 14px
			vertical-align: center
.new_banner
	background-color: #f7f7f7
	margin-top: 40px
	padding-bottom: 60px
	h3
		font-size: 20px
	.banner_pair1
		margin-bottom: 20px
		position: relative
	.banner_date1
		position: absolute
		top: 20px
		left: -15px
		font-size: 14px
		.blue
			height: 30px
			//width: 30px
			background-color: #248cec
			color: #fff
			text-align: center
			padding: 5px
		.yellow
			height: 30px
			//width: 30px
			background-color: #f4b60d
			color: #000
			text-align: center
			padding: 5px
	.banner_date2
		position: absolute
		top: 20px
		left: -15px
		font-size: 14px
		.blue
			height: 30px
			background-color: #248cec
			color: #fff
			text-align: center
			padding: 5px
		.yellow
			height: 30px
			background-color: #f4b60d
			color: #000
			text-align: center
			padding: 5px
	.banner_pair2
		position: relative
	.banner_article
		display: flex
		align-items: center
		img
			margin-right: 30px
			margin-bottom: 15px
		.comment
			margin-top: 5px
			span
				color: #248cec
		h4
			margin: 0
		p
			color: #8a8a8a
		a
			outline: none
			text-decoration: none
			color: #000
			&:hover
				color: #248cec
	.banner_1
		background-color: #248cec
		min-height: 165px
		position: relative
		padding: 0px 20px 0px 0px
		display: block
		&:after
			content: ""
			position: absolute
			border: 10px solid transparent
			border-right: 15px solid #248cec
			left: 142px
			top: 25px
		img
			float: left
			margin-right: 15px
		.numero1
			color: #f4b60d
			font-size: 40px
			font-weight: 500
			margin-left: 5px
			margin-right: 10px
		.title
			color: #fff
			font-weight: 500
			font-size: 35px
		.title_font
			font-size: 28px
			color: #fff
			font-weight: 400
			margin-left: 12%
		p
			margin-left: 45%
			margin-top: 5px
	.banner_2
		background-color: #f4b60d
		min-height: 165px
		position: relative
		padding: 0px 0px 0px 20px
		display: block
		&:after
			content: ""
			position: absolute
			border: 10px solid transparent
			border-left: 15px solid #f4b60d
			right: 142px
			top: 25px
		img
			float: right
		.numero2
			color: #248cec
			font-size: 40px
			font-weight: 500
			margin: 20px 15px 0 20px
		.title
			color: #000
			font-weight: 500
			font-size: 35px
		.title_font
			color: #000
			font-weight: 400
			font-size: 28px
			margin-left: 16%
		p
			color: #fff
			width: 50%
			margin-left: 16%
			margin-top: 5px
.service 
	background-color: rgba(0,0,0,.8)
	height: 300px
	padding-top: 40px
	.slider2
		text-align: center
	.bx-wrapper
		margin: 0 auto
		border: none
		box-shadow: none
		background-color: rgba(0,0,0,.8)
		.bx-default-pager
			display: none
		.bx-prev


.product
	background-color: #f7f7f7
	padding-bottom: 60px
	h3
		margin-top: 30px
	.prod_item
		background-color: #fff
		margin-right: 60px
		width: calc(25% - 60px)
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
		padding: 15px
		overflow: hidden
		&:last-child
			margin-right: 0px
		img
			width: 100%
			margin-bottom: 20px
			transition: .5s all
			&:hover
				transform: scale(1.1,1.1)
		i
			margin-left: 95px
			color: #d2d2d2
		.fa-list-ul
			margin-left: 15px
		hr
			margin-top: 0px
		.product_rect
			background-image: url("../img/rectangles.jpg")
			height: 4px
			width: 100%
			background-repeat: no-repeat
			margin-bottom: 10px
			margin-top: 25px
			
		.name_product
			font-weight: 500
			a
				color: #000
				transition: .5s all
				&:hover
					color: #248cec
		.type
			text-transform: uppercase
			color: #9f9f9f
			font-size: 12px
		.price
			color: #248cec
			margin-top: 15px
			font-weight: 500
			float: left
.brands
	
.social
	background-color: #2a2d32
	.logo_block
		padding-right: 0px
	.logo_wrap
		display: flex
		align-items: center
		background-color: #248cec
		padding: 5px 20px
		.logo_img
			margin-right: 10px
			width: 50px
			height: 50px
			display: flex
			align-items: center
			img
				width: 90%
		.logo_name
			font-weight: 500
			font-size: 26px
			color: #fff
			letter-spacing: 1px
			.logo_next
				display: block
				color: #afafaf
				text-transform: uppercase
				font-size: 10px
				letter-spacing: 4px
				line-height: 5px
				font-weight: 400
				color: #83bef4
	.social_block
		background-color: #3d4044
		padding: 15px 20px
		text-align: center
		a
			color: #646669
			font-size: 20px
			margin-right: 50px
			&:last-child
				margin-right: 0px
	.input_search
		position: relative
		background-color: #37393e
		padding: 14px 20px
		input
			padding: 5px
			background-color: #3f4146
			border: none
			outline: none
			color: #646669
			width: 100%
			text-indent: 5px
		i
			color: #646669
			position: absolute
			right: 30px
			top: 22px
.links
	background-color: #2a2d32
	padding: 30px 0px 40px 0px
	h4
		color: #fff
		text-transform: uppercase
		margin-bottom: 30px
	a
		color: #828385
		display: block
		transition: .5s all
		font-size: 14px
		margin-bottom: 10px
		padding: 5px 0
		border-bottom: 1px solid #393c40
		&:last-child
			border-bottom: none
		&:hover
			color: #248cec
.footer
	background-color: #35383c
	color: #5d6063
	padding: 15px 0
	i
		margin-right: 10px
		font-size: 20px
	.footer_right
		text-align: right